[data-md-color-scheme="orangopus-light"] {
    --md-primary-fg-color:        #111111;
    --md-primary-fg-color--light: #111111;
    --md-primary-fg-color--dark:  #111111;

    --md-accent-fg-color:         #ff913d;
  }  

  [data-md-color-scheme="orangopus-dark"] {
    --md-primary-fg-color:        #111111;
    --md-primary-fg-color--light: #111111;
    --md-primary-fg-color--dark:  #111111;

    --md-accent-fg-color:         #ff913d;
    --md-typeset-a-color:         #ff913d;
  }  
